@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-500: #d87d4a;
  --color-primary-400: #fbaf85;

  --color-neutral-900: #101010;
  --color-neutral-800: #000000;

  --color-neutral-200: #f1f1f1;
  --color-neutral-100: #fafafa;
  --color-neutral-50: #ffffff;

  --font-manrope: "Manrope", sans-serif;
}

@layer utilities {
  .heading-primary {
    @apply text-[36px] leading-[40px] font-bold tracking-[1.29px] uppercase md:text-[56px] md:leading-[58px] md:tracking-[2px];
  }
  .heading-secondary {
    @apply text-[40px] leading-[44px] font-bold tracking-[1.5px] uppercase;
  }
  .heading-tertiary {
    @apply text-[32px] leading-[36px] font-bold tracking-[1.15px] uppercase;
  }
  .heading-quaternary {
    @apply text-[28px] leading-[38px] font-bold tracking-[2px] uppercase;
  }
  .heading-quinary {
    @apply text-[24px] leading-[33px] font-bold tracking-[1.7px] uppercase;
  }
  .heading-senary {
    @apply text-[18px] leading-[24px] font-bold tracking-[1.3px] uppercase;
  }
  .overline-text {
    @apply text-[14px] leading-[19px] tracking-[10px] text-white/50 uppercase;
  }
  .subtitle {
    @apply text-[14px] leading-[19px] tracking-[10px] uppercase;
  }
  /* 
  .hero-image {
    @apply mx-auto bg-[url('/assets/home/mobile/image-header.jpg')] bg-no-repeat opacity-50 md:bg-[url('/assets/home/tablet/image-header.jpg')] lg:bg-[url('/assets/home/desktop/image-hero.jpg')] lg:bg-center;
  } */
  .hero-image {
    @apply mx-auto bg-[url('/assets/home/mobile/image-header.jpg')] bg-center bg-no-repeat opacity-75 max-lg:bg-cover md:bg-[url('/assets/home/tablet/image-header.jpg')] lg:bg-[url('/assets/home/desktop/image-hero.jpg')];
  }

  .container-custom {
    @apply mx-auto max-w-[1110px];
  }
}
@layer components {
}

@layer base {
  body {
    @apply font-manrope text-[15px] leading-[25px] text-neutral-800;
  }
}
